<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Crear Árbitro</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-gray-100 min-h-screen flex"> <aside th:replace="~{admin/sidebar :: sidebar('arbitros')}"></aside>

    <div class="flex-1 flex flex-col overflow-x-hidden overflow-y-auto">

        <aside th:replace="~{admin/header :: header('Crear Árbitro')}"></aside>

        <main class="p-6 flex-1">
            <div class="bg-white p-6 rounded-lg shadow max-w-2xl mx-auto">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Crear Nuevo Árbitro</h3>
                <form th:action="@{/admin/create}" method="post" class="space-y-4">
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">

                    <div>
                        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre Completo</label>
                        <input type="text" id="nombre" name="nombre" required
                               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
                               placeholder="Juan Pérez" />
                    </div>

                    <div>
                        <label for="cedula" class="block text-sm font-medium text-gray-700">Número de Documento</label>
                        <input type="text" id="cedula" name="cedula" required
                               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
                               placeholder="CC 123456789" />
                    </div>

                    <div>
                        <label for="phone" class="block text-sm font-medium text-gray-700">Telefono</label>
                        <input type="text" id="phone" name="phone" required
                               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
                               placeholder="312 988 5963" />
                    </div>

                    <div>
                        <label for="speciality" class="block text-sm font-medium text-gray-700">Especialidad</label>
                        <select id="speciality" name="speciality" required
                                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                            <option value="" disabled selected>Seleccione una especialidad</option>
                            <option value="CAMPO">Campo</option>
                            <option value="MESA">Mesa</option>
                        </select>
                    </div>

                    <div>
                        <label for="scale" class="block text-sm font-medium text-gray-700">Escalafón</label>
                        <select id="scale" name="scale" required
                                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                            <option value="" disabled selected>Seleccione un escalafón</option>
                            <option value="FIBA">FIBA</option>
                            <option value="PRIMERA">Primera</option>
                            <option value="SEGUNDA">Segunda</option>
                        </select>
                    </div>  

                    <input type="file" name="photoFile" accept="image/*">
                    <button type="submit">Guardar</button>

                    <div class="flex justify-end space-x-4 mt-6">
                        <a th:href="@{/admin/arbitros}"
                           class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg shadow hover:bg-gray-300">Cancelar</a>
                        <form th:action="@{/admin/arbitros/save}" method="post" enctype="multipart/form-data">
                          <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-lg shadow hover:bg-indigo-700">
                            Crear Árbitro
                          </button>
                        </form>
                    </div>
                </form>
            </div>
        </main>
    </div>

</body>
</html>